<div class="contentForm">
    <div class="example-container">
      <mat-form-field class="matForm">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="John Doe" [formControl]="name" required />
      </mat-form-field>
  
      <mat-form-field class="matForm">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" (blur)="updateErrorMessage()"
                required />
            <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
        </mat-form-field>
  
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="******" [formControl]="password" type="password" required />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Confirm your password</mat-label>
        <input matInput placeholder="******" [formControl]="confirmPassword" type="password" required />
      </mat-form-field>
  
      <button>
        <span class="text">Login</span>
      </button>
    </div>
  </div>
  